@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .controls {
    @apply bg-white rounded border border-transparent shadow-md box-border text-sm font-light h-7 ml-4 mt-2 outline-none px-3 overflow-ellipsis w-96;
    font-family: 'Roboto', sans-serif;
  }

  .controls:focus {
    @apply border-blue-400;
  }

  .title {
    @apply font-bold;
  }

  #infowindow-content {
    @apply hidden;
  }

  #map #infowindow-content {
    @apply inline;
  }
}